* {
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 10vw 45vw 14vw; 
}

.header {
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 40px;
    padding-left: 40px;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #4c90a0;
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

img {
    width:150px;
    height:140px;
    border:0;
}

ul {
    list-style-type: none;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    font-family: 'Josefin Sans' , sans-serif;
    text-transform: capitalize;
    font-size: medium;
    font-weight: bold;
}

.menubar ul li {
    padding: 1rem;
    position: relative;
    text-align: center;
    border-radius: 5px;
}

.menubar li a {
    color: black;
    text-decoration: none;
}

.menubar li:hover {
    background: #c7e7ef;
}

.menubar li:hover a {
    color: #1d3136;
}

.menubar a:link, a:visited {
    text-decoration: none;
    color: white;
}

.menubar a:hover, a:active {
    text-decoration: none;
    background: #c7e7ef;  
}

.main {
    background: white;
    color: #1d3136;
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    padding: 50px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: lighter;
    line-height: 30px;
    text-align: center;
    padding: 40px;
}

.main h1 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    background: #f9cb9c;
    padding: 15px;
    color:#1d3136;
    text-align: center;
}

.main p {
    font-size: 24px;
    line-height: 30px;
}

.announcement {
    padding: 10px;
    color:#1d3136;
    text-align: center;
    font-size: 24px;
    display: inline-block;
    line-height: 30px;
}

.a-header {
    font-size: 24px;
    font-weight: bold;
    line-height: 40px;
}

.announcement a {
    text-decoration: none;
    font-weight: bolder;
    color: #f9cb9c;
}

.announcement:hover a {
    color: #4c90a0;
    background: white;
    text-decoration: underline;
}

.designspec a {
    text-decoration: none;
    font-weight: bolder;
    color: #f9cb9c;
}

.designspec:hover a {
    color: #4c90a0;
    background: white;
    text-decoration: underline;
}


.footer {
    display: flex;
    background:#4c90a0;
    color: black;
    grid-column: 1 / -1;
    grid-row: 3 / -1; 
    font-family: 'Josefin Sans', sans-serif;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center; 
    display: inline-block;
    font-weight: lighter;
    line-height: 1.5px;
    padding: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.footer h5 {
    font-weight: lighter;
    font-style: italic;
}

.slicknav_menu {
    display: none;
    font-size: 14px;
}

/* CONTACT PAGE */

.contactmain {
    background: white;
    color: #1d3136;
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    padding: 50px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: lighter;
    line-height: 30px;
    text-align: center;
}

form[method=get] {
    text-align: center;
    background-color: white;
    border-radius: 5px;
    line-height: 1.5;
    align-content: center; 
    height: 90%;
    padding: 20px; 
    padding-top: 0px;
    padding-bottom: 25px;
    max-width: 800px;
    min-width: 100px;
    margin: 0 auto;
    display:inline-block;
}

form[method=get] p {
    font-size: 14px;
    line-height: 1;
    font-weight: bolder;
}

input[type=text] {
    width: 50%;
}

input[type=text]:focus {
    font-family: 'Didact Gothic', sans-serif;
    outline: none;
    border: 2px solid #1d3136; 
    background-color: #f1f1f1;
}

input[type=email] {
    width: 50%;
}

input[type=email]:focus {
    font-family: 'Didact Gothic', sans-serif;
    outline: none;
    border: 2px solid #1d3136; 
    background-color: #f1f1f1;
}

textarea[type=text] {
    width: 50%;
    height: 5vw;
}

textarea[type=text]:focus {
    font-family: 'Didact Gothic', sans-serif;
    outline: none;
    border: 2px solid #1d3136; 
    background-color: #f1f1f1;
}

button[type=submit] {
    padding: .5em;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-right: 0;
    margin-left: 0;
    border: 1px #1d3136;
    letter-spacing: 1px;
    cursor: pointer;
    background-color: #1d3136;
    color: white;
    font-family: 'Didact Gothic', sans-serif;
    width: 800vw;
    min-width: 10%;
    max-width: 20%;
    height: 3vh;
    font-size: 14px;
}

button[type=submit]:hover {
    background-color:#f9cb9c;
}

button[type=submit]:focus {
    outline: none;
}


/* BREAKPOINTS  */

@media only screen and (max-width: 1240px) {
    .header {
        padding-top: 0px;
        padding-bottom: 50px;
    }

    .main {
        font-size: 10px;
        line-height: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 35px;
        padding-left: 35px;
        text-align: center;
    }

    .main h1 {
        font-size: 30px;
    }

    .footer {
      font-size: 13px;
      text-align: center;
    }

    .contactmain {
        padding: 10px;
        line-height: 10px;
    }

    form[method="get"] {
        padding-top: 10px;
        padding-right: 0;
        padding-left: 0;
        line-height: 30px;
    }
    form[method="get"] h3 {
        font-size: 20px;
    }

    form[method="get"] p {
        font-size: 16px;
        line-height: 20px;
    }

    button[type=submit] {
        font-size: 10px;
        width: 300vw;
        height: 2vw;
    }
}

@media only screen and (max-width: 1130px) {
    img {
        width: 130px;
        height: 120px;
    }

    .header {
        padding: 5px;
        padding-top: 0px;
        padding-bottom: 5px;
        padding-right: 20px;
        padding-left: 30px;
        display: flex;
    }

    .main h1 {
        font-size: 20px;
    }

    .main p {
        font-size: 18px;
    }

    .announcement {
        font-size: 18px;
    }

    .a-header {
        font-size: 18px; 
    }

    .designspec {
        font-size: 18px;
    }

    .footer h4 {
        font-size: 10px;
    }

    .contactmain {
        padding: 0;
        line-height: 10px;
    }
    
    button[type=submit] {
        font-size: 10px;
        width: 300vw;
        height: 2vw;
    }
}

@media only screen and (max-width: 1090px) {
    .main h1 {
        font-size: 18px;
    }

    .main {
        font-size: 10px;
        line-height: 0;
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 65px;
        padding-left: 65px;
        text-align: center;
    }

    img {
        width: 120px;
        height: 110px;
    }

    .contactmain {
        padding: 0;
        line-height: 10px;
    }

    form[method="get"] h3 {
        font-size: 18px;
    }

    form[method="get"] p {
        font-size: 14px;
        line-height: 20px;
    }

    button[type=submit] {
        font-size: 10px;
        width: 300vw;
        height: 2vw;
    }
}

@media only screen and (max-width: 1000px) {
    .footer {
        padding: 5px;
    }

    .icons {
        font-size: 10px;
    }

    .main p {
        line-height: 25px;
    }

    .announcement {
        line-height: 25px;
    }

    .contactmain {
        line-height: 8px;
    }

    form[method="get"] {
        align-items: center;
        font-size: 14px;
    }

}

@media only screen and (max-width: 940px) {
    .menubar {
        display: none;
    }
    
    .slicknav_menu  {
        display: block;
        position: relative;
        background: none;
        color: black;
        font-family: 'Josefin Sans' , sans-serif;
        font-weight: light;
        font-size: 15px;
        padding: 10px;
    }

    .slicknav_menu ul {
        position: relative;
        display: block;
    }

    .slicknav_menu li a {
        font-size: 10px;
        line-height: 1.5px;
        color: black;
    }

    .slicknav_menu li:hover a {
        color: black;
        background: #c7e7ef;
        padding: .5rem;
    }

    .main {
        line-height: 16px;
    }

    .main p {
        font-size: 14px;
        line-height: 18px;
        margin: 0;
    }

    .announcement {
        font-size: 14px;
        line-height: 18px;
        margin: 0;
        padding: 20px;
    }

    .a-header {
        font-size: 14px; 
    }

    .designspec {
        font-size: 14px;
        line-height: 18px;
        margin: 0;
        padding: 0;
    }
}

@media only screen and (max-width: 870px) {
    .slicknav_menu {
        font-size: 10px;
    }
    
    img {
        width: 100px;
        height: 90px;
    }

    .main {
        line-height: 16px;
    }

    .main p {
        font-size: 14px;
        line-height: 18px;
        margin: 0;
    }

    .announcement {
        font-size: 14px;
        line-height: 18px;
        margin: 0;
        padding: 20px;
    }

    .a-header {
        font-size: 14px; 
    }

    .designspec {
        font-size: 14px;
        line-height: 18px;
        margin: 0;
        padding: 0;
    }

    .icons {
        font-size: 8px;
    }

    .footer {
        padding: 1px;
        padding-right: 55px;
        padding-left: 55px;
    }

    .footer h4 {
        font-size: 10px;
    }

    .footer h5 {
        line-height: 5px;
    }

}

@media only screen and (max-width: 790px) {
   .header {
       padding-top: 1px;
       padding-bottom: 1px;
       padding-right: 100px;
       padding-left: 100px;
   }

    img {
        width: 90px;
        height: 80px;
    }

    .main h1 {
        font-size: 14px;
        padding: 10px;
    }

    .icons {
        font-size: 8px;
    }

    .footer h4 {
        font-size: 8px;
    }

   .footer h5 {
       font-size: 6px;
       line-height: 8px;
    }

    .contactmain {
        padding: 0;
        justify-content: center;
        line-height: 10px;
    }

    form[method="get"] {
        font-size: 10px;
        line-height: 18px;

        padding: 10px;
        align-items: center;
    }

    form[method="get"] h3 {
        font-size: 14px;
        line-height: 10px;
    }

    form[method="get"] p {
        font-size: 10px;
        line-height: 14px;
        padding-right: 50px;
        padding-left: 50px;
        padding-top: 0;
        padding-bottom: 0;
    }

    button[type=submit] {
        font-size: 8px;
        width: 50vw;
        height: 3vw;
    }
}

@media only screen and (max-width: 700px) {
    .main p {
        font-size: 12px;
        line-height: 16px;
    }

    .announcement {
        font-size: 12px;
        line-height: 16px;
        padding: 6px;
    }

    .a-header {
        font-size: 12px;
    }

    .designspec {
        font-size: 12px;
        line-height: 16px;
        padding: 4px;
    }

    img {
        width: 70px;
        height: 60px; 
    }

    form[method="get"] {
        font-size: 10px;
        line-height: 16px;
        padding: 10px;
        align-items: center;
    }

    form[method="get"] h3 {
        font-size: 12px;
        line-height: 10px;
    }

    form[method="get"] p {
        font-size: 10px;
        line-height: 14px;
        padding-right: 50px;
        padding-left: 50px;
        padding-top: 0;
        padding-bottom: 0;
    }

    button[type=submit] {
        font-size: 8px;
        width: 50vw;
        height: 3vw;
        margin: 3px;
    }
}

@media only screen and (max-width: 620px) {
    .slicknav_menu {
        font-size: 8px;
    }

    .main {
        padding-right: 50px;
        padding-left: 50px;
    }
    
    .main p {
        font-size: 10px;
        line-height: 16px;
    }

    .announcement {
        font-size: 10px;
        line-height: 16px;
        padding: 6px;
    }

    .a-header {
        font-size: 10px;
    }

    .designspec {
        font-size: 10px;
        line-height: 16px;
        padding: 0px;
    }

    form[method="get"] {
        font-size: 9px;
        line-height: 16px;
        padding: 5px;
        align-items: center;
    }

    input[type="text"] {
        width: 200px;
        height: 15px;
    }

    input[type="email"] {
        width: 200px;
        height: 15px;
    }

    textarea[type="text"] {
        width: 200px;
    }

    form[method="get"] h3 {
        font-size: 10px;
        line-height: 10px;
    }

    form[method="get"] p {
        font-size: 9px;
        line-height: 12px;
        padding-right: 30px;
        padding-left: 30px;
        padding-top: 0;
        padding-bottom: 0;
    }

    button[type=submit] {
        font-size: 8px;
        width: 100px;
        height: 3vw;
        margin: 3px;
    }
}

@media only screen and (max-width: 539px) {
    .main {
        padding-right: 50px;
        padding-left: 50px;
    }

    .main h1 {
        font-size: 12px;
        padding: 8px;
    }
    
    .main p {
        font-size: 10px;
        line-height: 12px;
    }

    .announcement {
        font-size: 10px;
        line-height: 12px;
        padding: 0px;
    }

    .a-header {
        font-size: 10px;
        padding: 0px;
    }

    .designspec {
        font-size: 10px;
        line-height: 12px;
        padding: 2px;
    }

    .icons {
        font-size: 6px;
    }

    .footer h4 {
        font-size: 6px;
    }

   .footer h5 {
       font-size: 5px;
       flex-wrap: wrap;
    } 

    form[method="get"] {
        font-size: 8px;
        line-height: 14px;
        padding: 0px;
        align-items: center;
    }

    input[type="text"] {
        width: 150px;
        height: 10px;
    }

    input[type="email"] {
        width: 150px;
        height: 10px;
    }

    textarea[type="text"] {
        width: 150px;
    }

    form[method="get"] h3 {
        font-size: 10px;
        line-height: 10px;
    }

    form[method="get"] p {
        font-size: 8px;
        line-height: 10px;
        padding-right: 30px;
        padding-left: 30px;
        padding-top: 0;
        padding-bottom: 0;
    }

    button[type=submit] {
        font-size: 6px;
        width: 80px;
        height: 2.5vw;
        margin: 2px;
    }
}

@media only screen and (max-width: 495px) {
    .main {
        padding-right: 50px;
        padding-left: 50px;
    }
    
    img {
        width: 60px;
        height: 50px; 
    }

    .main h1 {
        font-size: 10px;
        line-height: 8px;
    }
    
    .main p {
        font-size: 10px;
        line-height: 10px;
    }

    .announcement {
        font-size: 10px;
        line-height: 10px;
        padding: 0px;
    }

    .a-header {
        font-size: 10px;
        padding: 0px;
    }

    .designspec {
        font-size: 10px;
        line-height: 10px;
        padding: 2px;
    }

    .icons {
        font-size: 6px;
    }

    .footer h4 {
        font-size: 6px;
    }

   .footer h5 {
       font-size: 5px;
       flex-wrap: wrap;
    } 

    .slicknav_menu {
        padding: 0;
    }

    form[method="get"] {
        font-size: 6px;
        line-height: 14px;
        padding: 0px;
        margin: 4px;
        align-items: center;
    }

    input[type="text"] {
        width: 120px;
        height: 8px;
    }

    input[type="email"] {
        width: 120px;
        height: 8px;
    }

    textarea[type="text"] {
        width: 120px;
        height: 16px;
    }

    form[method="get"] h3 {
        font-size: 8px;
        line-height: 8px;
    }

    form[method="get"] p {
        font-size: 6px;
        line-height: 10px;
        padding-right: 30px;
        padding-left: 30px;
        padding-top: 0;
        padding-bottom: 0;
    }

    button[type=submit] {
        font-size: 5px;
        width: 60px;
        height: 2.5vw;
        margin: 2px;
    }
}

@media only screen and (max-width: 445px) {

    .container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .slicknav_menu {
        font-size: 6px;
    }

    .main {
        padding: 2px;
        padding-right: 50px;
        padding-left: 50px;
    }

    .main h1 {
        font-size: 10px;
        line-height: 8px;
    }
    
    .main p {
        font-size: 10px;
        line-height: 10px;
    }

    .announcement {
        font-size: 10px;
        line-height: 10px;
        padding: 0px;
    }

    .a-header {
        font-size: 10px;
        line-height: 6px;
        padding: 5px;
    }

    .designspec {
        font-size: 10px;
        line-height: 10px;
        padding: 2px;
    }

    .icons {
        font-size: 6px;
    }

    .footer h4 {
        font-size: 5.5px;
        line-height: 1px;
    }

   .footer h5 {
       font-size: 5px;
       line-height: 5px;
       flex-wrap: wrap;
    } 

    form[method="get"] {
        font-size: 6px;
        line-height: 10px;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-right: 60px;
        padding-left: 60px;
        margin: 4px;
        align-items: center;
    }

    input[type="text"] {
        width: 110px;
        height: 8px;
    }

    input[type="email"] {
        width: 110px;
        height: 8px;
    }

    textarea[type="text"] {
        width: 110px;
        height: 16px;
    }

    form[method="get"] h3 {
        font-size: 8px;
        line-height: 8px;
    }

    form[method="get"] p {
        font-size: 6px;
        line-height: 8px;
        padding-right: 30px;
        padding-left: 30px;
    }

    button[type=submit] {
        font-size: 5px;
        width: 50px;
        height: 2.5vw;
        margin: 2px;
    }

}

@media only screen and (max-width: 430px) {
    img {
        width: 50px;
        height: 40px; 
    }

    .main {
        padding-right: 60px;
        padding-left: 60px;
    }

    .icons {
        font-size: 4px;
    }

    .footer {
        padding: 1px;
        padding-right:35px;
        padding-left: 35px;
    }

    .footer h4 {
        font-size: 5px;
        line-height: .2px;
        padding: 0px;
    }

   .footer h5 {
       font-size: 5px;
       line-height: 5px;
       flex-wrap: wrap;
       padding: 0;
    } 

    .main h1 {
        font-size: 10px;
        line-height: 6px;
    }
    
    .main p {
        font-size: 8px;
        line-height: 10px;
    }

    .announcement {
        font-size: 8px;
        line-height: 10px;
        padding: 0px;
    }

    .a-header {
        font-size: 8px;
        line-height: 6px;
        padding: 5px;
    }

    .designspec {
        font-size: 8px;
        line-height: 10px;
        padding: 2px;
    }
}

@media only screen and (max-width: 430px) {
    .main {
        padding-right: 65px;
        padding-left: 65px;
    }

    .main h1 {
        font-size: 10px;
        line-height: 6px;
    }
    
    .main p {
        font-size: 8px;
        line-height: 8px;
    }

    .announcement {
        font-size: 8px;
        line-height: 8px;
        padding: 0px;
    }

    .a-header {
        font-size: 8px;
        line-height: 6px;
        padding: 5px;
    }

    .designspec {
        font-size: 8px;
        line-height: 8px;
        padding: 2px;
    }

    .footer {
        padding-right: 80px;
        padding-left: 80px;
    }
}